#parent {
    /* border: 5px solid black; */
    width: 550px;
    height: 600px;
    margin: 25px auto;
}

img {
    width: 100%;
    height: 1%;
}

.section-two {
    /* margin-bottom: x; */
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    /* padding-bottom: 0px; */
    
}

#game-heading {
    padding: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

#players-select {
    border-radius: 35px;
    border: 2px solid grey;
    /* margin-left: 5px;
    margin-top: 0px; */
}

.text {
    margin-left: 5px;
    margin-top: 0px;
    padding: 0px;
}

#h2 {
    margin-left: 5px;
}

#p {
    margin-top: 0px;
}

#option-display {
    text-align: center;
}

.main {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 25%;
    border: 5px solid black;
}

.player1 {
    border: 5px solid black;
    width: 100%;
    height: 25%;
}

.player2 {
    border: 5px solid black;
    width: 100%;
    height: 25%;
}

.resetbtn {
    border: 5px solid black;
    width: 100%;
    height: 25%;
}