body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    /* background-color: aqua; */
}

.nav-div {
    width: 75%;
    height: 50%;
    /* border: 5px solid red; */
    margin-left: 15px;
    margin-top: 20px;
    /* display: inline-block; */
}

.about {
    width: 5%;
    height: 20%;
    /* border: 5px solid red; */
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.jobs {
    width: 5%;
    height: 20%;
    /* border: 5px solid red; */
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

/* .img1 {
    margin: 10px auto;
    width: 5%;
    height: 95%;
    /* border: 5px solid red; */
    /* height: .5%; */


.img-1 {
    margin: 10px auto;
    width: 80vw;
    height: 100vh;
    
}

 h1 {
    position: relative;
    display: inline-block; /*vvv imp */
    top: 230px;
    bottom: -1050px;
    left: 545px; 
    /* right: 900px; */
    /* right: -800px; */
    /* color: linear-gradient(to bottom , #09b8db, white);
  background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
    font-size: 130px;
    color: #e63946;
    user-select: none;
}  

.text-img1 {
    width: 980px;
    height: 250px;
    margin: 15px auto;
    margin-top: 550px;
    font-size: 1.5rem;
    text-align: left;
    /* border: 5px solid red; */
}

a {
    text-decoration: none;
}

b {
    line-height: 45px;
}

#bold {
    line-height: 40px;
}
/* #0c8097 */
/* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: linear-gradient(to bottom right, blue, pink); */

.yellow-part-div {
    /* position:  */
    width: 900px;
    height: 750px;
    background-color: #fdffb6;
    /* border: 5px solid black; */
    position: relative;/*!!!as this div acts as a base part for images hence, this is to be kept relative*/
    top: -30px;/* so that other images can act absolute wrt to or relation to base image/div in this case*/
    left: 620px;
    
}

.monitor {
    position: absolute;
    width: 45%;
    height: 70%;
    left: 130px;/* 130px, 85px*/
    top: 85px;
}

.books {
    width: 30%;
    height: 40%;
    position: absolute;
    top: 190px;
    left: 950px;
}

.yellow-div {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    position: relative;/*!!!!!!IMP, VVV IMP !!!*/
    /* border: 5px solid blue;
    width: 75%;
    height: 100%; */
}

.text-img2 {
    width: 1000px;
    height: 250px;
    margin: 55px auto;
    /* border: 5px solid blue; */
    font-size: 1.5rem;
    margin-top: 110px;
}

.small-font {
    font-size: 1rem;
    line-height: 30px;
}

.yt-vid {
    /* width: 550px;
    height: 550px; */
    margin-top: 25px;
    margin-left: 270px;
    margin-right: auto;
}

.viddiv {
    /*display:*/ /*vvvv IMPPP */
    margin-top: 0;
    font-size: 0.8rem;
    line-height: 30px;
}

.text-yt {
    width: 980px;
    height: 250px;
    /* border: 5px solid red; */
    margin: 30px auto;
    margin-top: 80px;
    font-size: 1.5rem;
}

.parent {
    position: relative;
    width: 100%;
    height: 75%;
}
.green {
    width: 935px;
    height: 1200px;
    /* border: 5px solid black; */
    background: #b7e4c7;
    margin-top: 170px;
    position: relative;
}

/* .common {
        width: 70%;
        height: 50%;

} */

.instruments {
    width: 43%;
    height: 60%;
    /* border: 10px solid red; */
    position: absolute;
    top: 260px;
    left: 800px;
}

.img1 {
    position: absolute;
    top: 120px;
    left: 150px;
    width: 35%;
    height: 33%;
}

.img2 {
    position: absolute;
    top: 650px;
    left: 150px;
    width: 35%;
    height: 33%;
}

.text-green {
    width: 1000px;
    height: 250px;
    margin: 30px auto;
    /* text-align: left; */
    /* border: 5px solid black; */
    font-size: 1.8rem;
    margin-top: 100px;
}

.meter-div {
    /* margin: 10px auto; */
    width: 950px;
    height: 300px;
    margin-top: 150px;
    margin-left: 340px;
    /* border: 5px solid red; */
}

.meter-photo {
    width: 82vw;
    height: 93vh;
    margin-left: -200px;
}

.meter-text {
    /* border: 5px solid red; */
    /* margin: 40px auto; */
    width: 980px;
    height: 390px;
    margin-top: 520px;
    margin-left: 300px;
    font-size: 1.5rem;
}

.parent-purple {
    position: relative;
    width: 100%;
    height: 15%;
}
.purple {
    width: 970px;
    height: 1020px;
    background-color: #e4c1f9;
    /* margin: 20px auto; */
    position: relative;
    left: 270px;
}

.leftimg {
    position: absolute;
    top: 190px;
    left: 160px;
    width: 30%;
    height: 47%
}

.rightimg {
    position: absolute;
    left: 800px;
    top: 100px;
    width: 850px;
    height: 650px;
    
}

.text-purple {
    width: 1000px;
    height: 250px;
    margin: 30px auto;
    font-size: 1.8rem;
    margin-top: 150px;
}

.blue {
    width: 1250px;
    height: 1230px;
    /* margin: 190px auto; */
    margin-top: 190px;
    margin-left: 140px;
    /* border: 10px solid red; */
    background-color: #abc4ff ;

}

.last-img {
    width: 100%;
    /* left: 10px; */

}

.textblue {
    width: 950px;
    height: 450px;
    /* border: 10px solid red; */
    margin-top: 80px;
    margin-left: 145px;
    margin-right: 75px;
    font-size: 1.5rem;
    line-height: 30px;
}

/* .blue {
    background-color: #abc4ff ;
    width: 1200px;
    height: 400px;
    /* border: 10px solid red; */
    /* margin-top: 0px;
}

.blue-div-text {
    margin-top: 100px;
} */ 

.see-latest-jobs {
    color: #1e88e5;
}

/* h2 {
    position: absolute;
    display: block;
} */